doctype html
html(lang='en')
	head
		title SC App

		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible',content='ie=edge')
		
		link(rel='stylesheet',href='/css/bootstrap.min.css')

	body#app

		img(v-show='loading',src='/images/loading.gif',alt='Loading Image',style='position: absolute; margin:auto; left:0; right:0; top:0; bottom:0')

		navbar(v-show='authenticated && !loading && started')
			li
				a(v-link='{ path:"/dashboard" }') Dashboard
			li
				a(v-link='{ path:"/about" }') About
			li
				a(v-link='{ path:"/users" }') Users
			li.dropdown(slot='right')
				a.dropdown-toggle(data-toggle="dropdown")
					span {{ first }} {{ last }}
					span.caret
				ul.dropdown-menu
					li
						a(href='/',@click.prevent='logout') Logout

		alert(:show.sync="show_success && loaded",placement="top",duration="3000",type="success",width="400px",dismissable)
			strong {{ success_msg }}
		alert(:show.sync="show_error && loaded",placement="top",duration="3000",type="danger",width="400px",dismissable)
			strong {{ error_msg }}

		div.container-fluid(v-show='!loading && started',style='margin-top:50px')
			div.row
				div.col-md-12
					router-view

		script(src='/js/lib/validate.min.js')
		script(src='/js/lib/vue.min.js')
		script(src='/js/lib/vue-strap.min.js')
		script(src='/js/lib/vue-router.min.js')
		script(src='/js/lib/socketcluster.js')
		script(src='/js/lib/vue-socketcluster.js')
			
		script(src='/js/bin/templates.js')
		//- Use this if you want to have the minified data.
		//-script(src='/js/bin/concat-min.js')

		script(src='/js/src/system/init.js')

		script(src='/js/src/components/about/index.js')
		script(src='/js/src/components/dashboard/index.js')
		script(src='/js/src/components/session/create.js')
		script(src='/js/src/components/users/create.js')
		script(src='/js/src/components/users/index.js')

		script(src='/js/src/system/app.js')