div.row(style='margin-top:100px')
	div.col-md-4.col-md-offset-4
		div.panel.panel-primary
			div.panel-heading
				h5 Please Login
			div.panel-body
				div.form-group
					label Email
					input.form-control(type='email',v-model='email')
				div.form-group
					label Password
					input.form-control(type='password',v-model='password')
				hr
				div.form-group
					button.btn.btn-success(type='button',@click='login') Login
					a.btn.btn-default.pull-right(v-link='{ path:"/users/create" }') Create Account